/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
// COLORS
$color-primary-bright: #04c7a2;
$color-primary: #04b795;//#7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark:  #03cba2; //#28b485;

$color-secondary: #0586eb;
$color-secondary-light: #0991fb;
$color-secondary-dark:  #067edc; //#28b485;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #d0d0d0;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-bg-grey-light: #48556b;//#424f69;
$color-bg-grey: #313c52;//#39455d;
$color-bg-grey-dark: #12141c;//#353f53;

$color-dark-blue-light: #789edd;
$color-dark-blue: #6b8bc4;
$color-dark-blue-dark: #7195d1;

// FONT

$default-font-size: 1.6rem;

// GRID
$grid-width: 100%;
$gutter-vertical: 2rem;
$gutter-horizontal: 3rem;

