.justify-content-center {
  justify-content: left;
}
.nav-item{
  width: 300px;
}
.nav-link{
  width: 200px;
  height: 120px;
  text-align: center;
  font-size: x-large;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding-top: 20px;
  cursor: pointer;
}
.nav-link.active{
  width: 200px;
  height: 120px;
  margin: auto;
  text-align: center;
  font-size: x-large;
  background-color: #04b795;
  color: white;
  border-radius: 20px;
}
.nav {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.btn-block {
  display: block;
  width: 109%;
}
.templateform{
  border: #04b795;
  background-color: black;
  padding: 20px;
  border-style: solid;
  /* width: 1200px; */
}
.btn-block {
  display: block;
  width: 116%;
  height: 60px;
  text-align: center;
}
.addtemplate{
  width: 180px;
  font-size: large;
  margin-top: 50px;
  height: 60px;
}

.ex1 {
  width: 800px;
  border: 1px  black;
  overflow-x: auto;
}
.nav-item{
  margin-right: 20px;
}

.parent {
  border: 1px;
  /* margin: 1rem;
  padding: 2rem 2rem; */
  text-align: center;
}
.child {
  display: inline-block;
  border: 1px ;
  padding: 1rem 1rem;
  vertical-align: middle;
}

