<div
  id="myModal"
  class="modal"
  [ngStyle]="{ display: visible ? 'block' : 'none' }"
>
  <div class="modal-content">
    <div class="modal-header">
      <h2>{{ heading }}</h2>
      <span class="close" (click)="onClose()">
        <img
          src="/assets/img/popup/close.png"
          alt="close"
        />
        <!-- <i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i> -->
      </span>
    </div>
    <div class="modal-body">
      <ng-content select=".app-modal-body"></ng-content>
    </div>
    <div class="modal-footer">
      <ng-content select=".app-modal-footer"></ng-content>
    </div>
  </div>
</div>
