<div class="map-container" #mapContainer>
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
<div class="legends">
  <div class="item">
    <p>Level 1</p>
    <p class="color-blue"></p>
  </div>
  <div class="item">
    <p>Level 2</p>
    <p class="color-purple"></p>
  </div>
  <div class="item">
    <p>Level 3</p>
    <p class="color-orange"></p>
  </div>
</div>
<div class="marker-details">
  <div class="item">
    <img src="/assets/img/map/farmer1.png" />
    Farmers
  </div>
  <div class="item">
    <img src="/assets/img/map/silos1.png" />
    Silos
  </div>
  <div class="item">
    <img src="/assets/img/map/factory1.png" />
    Processing Unit
  </div>
</div>
<!-- <img class="legends" src="/assets/img/map/legends.png" alt="" />
<img class="marker-details" src="/assets/img/map/details.png" alt="" /> -->
